.container {
    position: relative;
    width: 100%;
    height: 59vw;
    background: white;
}

.image {
    display: block;
    width: 100%;
    height: 50vw;
}

.overlay {
    height: 25vw;
    width: 35vw;
    position: absolute;
    text-align: left;
    top: 45vw;
    right: 39vw;
    transform: translate(-50%, -50%);
    color: black;
    background-color: white;
    padding: 1vw;
}

.overlay h1, .overlay p, .overlay button{
    margin: 1vw;
}

.overlay h1{
    font-size: 4.5vw;
}

.overlay p{
    font-size: 1.2vw;
}

.overlay button{
    font-size: 1vw;
    color: #332929;
    padding: 0.7vw;
    background-color: transparent;
    border-color: #332929;
    width: 15vw;
    border: solid 1px;
    border-radius: 0;
}

.overlay button:hover{
    color: white;
    background: #332929;
}

.imagenTexto {
    height: 45vw;
    align-items: center;
    display: -webkit-flex; /* Cambiado a -webkit-flex */
    -webkit-flex-direction: column; /* Usando la combinación requerida */
    background: white;
    padding: 0;
    margin: 0;
}

.imagenTexto-img {
    height: 45vw;
    width: 50vw;
    background-size: cover;
    background-position: center;
}

.imagenTexto-texto {
    height: 45vw;
    width: 50vw;
    text-align: left;
}

.preguntasFrecuentes figure {
    background-image: url('/public/sp2.jpg');
}


.imagenTexto-texto h1{
    font-size: 5vw;
}

.imagenTexto-texto p{
    font-size: 1.3vw;
}