.container {
    position: relative;
    width: 100%;
    height: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 1%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 5px;
}

.imagenTexto {
    height: 80vh;
    align-items: center;
    display: -webkit-flex; /* Cambiado a -webkit-flex */
    -webkit-flex-direction: column; /* Usando la combinación requerida */
    background: white;
    padding: 0;
    margin: 0;
}

.imagenTexto-img {
    height: var(--XXL, 100%);
    width: var(--XXL, 50%);
    background-size: cover;
    background-position: center;
}

.imagenTexto-texto {
    height: var(--XXL, 100%);
    width: var(--XXL, 50%);
    text-align: left;
}

.preguntasFrecuentes figure {
    background-image: url('/public/sp2.jpg');
}


