#bodyMitzi {
    font-family: Arial, sans-serif;
    color: #333;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400&display=swap');


.hero h2 {
    font-family: 'Merriweather', serif;
    font-size: 48px;    
    transform: translateY(50px) scale(0.5);
    opacity: 0;
    animation: text-appear 1s ease forwards;
}

@keyframes text-appear {
    0% {
        transform: translateY(50px) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; /* Sin espacios entre imágenes */
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta para llenar el contenedor */
    filter: brightness(0.9) contrast(1.05) saturate(1.2); /* Brillo reducido */
    transition: filter 0.3s ease; /* Transición suave para cambios de calidad */
}

.gallery-item img:hover {
    filter: brightness(1) contrast(1.1) saturate(1.2); /* Ligera mejora al hacer hover */
}

.gallery-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px; /* Tamaño de fuente ajustado */
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-weight: bold;
}

.gallery-item p::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

.gallery-item a {
    text-decoration: none;
    color: inherit;
}