header{
    display: flex;
    width: calc(100% - (var(--XXS, 24px) * 2));
    min-height: var(--XM, 56px);
    padding: var(--XUS, 8px) var(--XXXS, 16px);
    justify-content: center;
    align-items: center;
    position: sticky;
    margin: 0;
    top: 0;
    background: #F0F8FF;

    z-index: 1;
    
}

.link-container{
    display: flex;
    padding: 0px var(--XUS, 8px);
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    color: var(--color-text, #000000);
}

.logo {
    height: 150px;
    padding: 0;
}



a{
    color: var(--color-text, #000000);
    transition: color 0.5s cubic-bezier(0.08,0.82,0.17,1);
    transition: transform 0.5s cubic-bezier(0.08,0.82,0.17,1);
}

a:hover{
    color: var(--color-principal, #092B5A);
    transform: scale(1.1);
}

a:active{
    color: var(--color-text, #000000);
    transform: scale(0.9);
}



.activeStyle{
    color: #000000;
}