
#body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
     font-size: 25px;
}

.contenedor {
    display: flex;
    align-items: stretch;
}
.columnaiz {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.columnaiz img {
    height: 100%;
    width: auto;
}
.columnamedio {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.columnamedio img { 
    width: auto;
    height: auto;
}
.columnade {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: end;
}

.tit{
    align-items: center;
    justify-content: center;

}
.text1 {
    font-size: 24px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 10px solid white;
    padding: 0;
    margin: 0;
    margin: 20px auto;

}
.text1 p {
    margin: 0;
    padding: 5px;
}
.footer {
    background-color: #373737;
    color: white;
}
.privacidad {
    background-color: transparent;
    border: 3px solid white;
    width: 180px;
    color: white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    
}

.columnamedio .imagen {
    width: 100%;
    height: auto;
}

.columnaiz, .columnamedio {
    justify-content: center;
    align-items: center;
    align-content: center;
}
#imagen-intermedia{
    width: 100%;
}
.titulo {
    font-size: 90px;
    font-weight: bold;
}
p {
    font-size: calc(1rem + 1vw);
}

.text2 {
    margin-top: 20px;
    text-align: justify;
    font-size: 25px;
    padding-left: 45px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.part21 {
    width: 75%;
    height: auto;
}