.acordeon {
    width: 40vw;
    min-height: 3.5vw; /* Cambiado de height a min-height */
    margin-bottom: 1rem; /* Espacio entre cada acordeón */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añadir una sombra ligera */
}

.preguntita {
    font-size: 1.25vw;
    font-weight: bold;
    color: #333; /* Color del texto de la pregunta */
}

.respuestita {
    font-size: 1.25vw;
    color: #555; /* Color del texto de la respuesta */
    line-height: 1.5; /* Espacio entre líneas para mejor legibilidad */
}

.detalles-pregunta {
    width: 100%; /* Asegura que ocupe el ancho completo del acordeón */
    padding: 1rem; /* Espacio interno en el contenido de respuesta */
    background-color: #f9f9f9; /* Fondo claro para diferenciar la respuesta */
    border-top: 1px solid #ddd; /* Borde superior para separar de la pregunta */
}

/* Efecto hover para el acordeón */
.acordeon:hover {
    background-color: #f0f0f0; /* Fondo más claro al pasar el cursor */
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Efecto para el botón expandir de Material-UI */
.acordeon .MuiAccordionSummary-expandIconWrapper {
    color: #888; /* Color del icono de expansión */
}

.acordeon .MuiAccordionSummary-expandIconWrapper:hover {
    color: #333; /* Cambia de color al pasar el cursor sobre el icono */
}
